<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="../assets/pizzaLogo.png" alt="" width="70" height="55.6">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="Menu">Menu</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="Contacto">Contacto</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="Acerca">Acerca</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

